babel==2.17.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cloc==0.2.5
colored==2.3.0
cryptography==44.0.2
dateparser==1.2.1
filelock==3.18.0
fsspec==2025.3.1
fuzzywuzzy==0.18.0
huggingface-hub==0.29.3
idna==3.10
langdetect==1.0.9
numpy==2.2.4
opencv-python==4.11.0.86
packaging==24.2
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
pillow==11.1.0
pycparser==2.22
PyPDF2==3.0.1
pypdfium2==4.30.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
six==1.17.0
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.50.3
typing_extensions==4.13.0
tzlocal==5.3.1
urllib3==2.3.0
